body, html {
  background: #C9DFF2;
  background: radial-gradient(circle, rgba(201, 223, 242, 1) 0%, rgba(147, 171, 191, 1) 53%, rgba(80, 112, 140, 1) 72%, rgba(33, 63, 89, 1) 84%, rgba(9, 31, 51, 1) 100%);
}

.centered-div {
  width: 50rem;
  height: 75svh;
  box-shadow: 10px 10px rgba(11,17,8,1);
  color: white;
  background-color: #C9DFF2;
  padding: 20px;
  border: 4px solid black;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.writing-div {
  background-color: #C9DFF2;
  overflow-y: scroll;
}

footer {
  background: none;
}

footer > p {
  width: 50rem;
  background-color: #50708C;
  text-align: center;
  color: #0D0D0D;
}

h2, a, h1, pre, p{
  color: #091F33;
}

.main {
  text-align: left;
  width: 50rem;
  display: flex;
  flex-direction: column; 
  row-gap: 7px;
}

@media (max-width: 768px) {
  .centered-div {
    width: 20rem;
    height: 90svh;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    padding: 20px;
    border: 4px solid black;
  }

  footer {
    display: none;
  }

  .main > h2 {
    font-size: 15px;
  }
}